@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200;1,500&family=Titan+One&display=swap");

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;		
	/*background-color: #F1F2F3;*/
}
header{
	text-align: center;
}
button{
	background-color: rgb(240, 144, 107);
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}
#title{
	text-align: center;
}
.container {
	/*display: flex;
	justify-content: space-between;
	align-items: center;*/

	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.card {
	border-radius: 3px;
	list-style-type: none;
	margin: 8px;
	padding: 0px;
	flex: auto;
	/*background-color: rgb(241, 174, 50);*/
}

.card-title {
	border: 1px solid #555;
	border-radius: 5px 5px 0px 0px;
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	/*background-color:#F1F2F3;*/
	text-align: center;
}

.card-body {
	border: 1px solid #555;
	border-radius: 0px;
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	background-color: rgb(241, 174, 50);
	
	font-size: 13px;
}
.card-foot {
	border: 1px solid #555;
	border-radius: 0px 0px 5px 5px;
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	background-color: rgb(221, 216, 207);
	font-size: 12px;
}

.card-error {
	color: rgb(190, 3, 3);
	background-color: rgba(236, 31, 31, 0.37);
	padding: 10px;
	border: 1px solid rgb(190, 3, 3);
}
.imagen{
	max-width: 200px;
}
.active{
	background-color: #d4d7da;	
	color: #a8a9aa;
}


.paginacion {
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #f7a102;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #ceb213;
	color: rgb(189, 63, 4);
}
.subtitulo{
	font-size:11px;
	margin:5px;
}